.new {
    float: right;
    margin-bottom: 1.5em;
    background-color: #83bf02;
    padding: 0.4em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: 600;
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .new svg {
    margin-right: 0.5px;
  }
  
  .new:hover {
    background-color: #5fd204;
    transform: scale(1.1);
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  table{
    border: 1px solid #CCC;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  table caption{
    font-size: 1.5em;
    margin: 0.5em 0  0.75em;
  }
  
  table tr{
    background-color: #F8f8f8;
    border:1px solid #DDD;
    padding: 0.35em;
  }
  
  table th, table td{
    padding: 0.60em;
    text-align: center;
  }
  
  table th{
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  table td .action{
    border:0;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 3px;
  }
  
  table td .action svg{
    vertical-align: middle;
  }
  
  table td .badge{
    padding: 3px;
    border-radius: 3px;
    color: #FFF;
  }
  
  table td .action-image {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: inline-block;
  }
  
  table td .action-image:hover {
    cursor: pointer;
    
  }
  
  .btn-action {
    background-color: #ff4081;
    border: 0;
    padding: 5px 11px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 3px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    height: 30px;
    cursor: pointer; /* Adicionei para indicar que o botão é clicável por padrão */
  }
  
  .btn-action.concluido {
    opacity: 0.5; /* Define a opacidade para tornar o botão transparente quando concluído */
    cursor: not-allowed; /* Define o cursor para 'not-allowed' quando concluído */
  }

  .Toastify__toast {
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
  }
  
  
  
  
  

  @media screen and (max-width: 500px){
      table{
        border:0;
      };
  
      table caption{
        font-size: 1.3em;
      }
  
      table thead{
        border:none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      table tr{
        border-bottom: 3px solid #DDD;
        display: block;
        margin-bottom: 0.60em;
      }
  
      table td{
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }
  
      table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
  }